/*Body*/
body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Header*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    padding-top: 30px; /*отступ сверху*/
}

.header__logo {

    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #800032;
    cursor: pointer;
}

.header__inner {
    display: flex; /*разнести элементы - лого слева и навигация справа*/
    justify-content: space-between; /*как распределяются элементы относительно главной оси flex. В данном случае - элементы займут крайние позиции слева и справа*/
    align-items: center; /*выравнивание навигации по центру по вертикали относительно логотипа*/
}

.header__link {
    text-decoration: none;
    transition: color .1s linear;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #800032;
    cursor: pointer;
}
/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Intro*/
.intro {
    /*чтобы элементы заголовок и над ним заголовок были по центру*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh; /*100 процентов высоты пользователя*/
    background: url("../images/intro.jpg") center no-repeat;
    background-size: cover;
    opacity: 0.55;

}

.intro__img {
    /*чтобы элементы заголовок и над ним заголовок были по центру*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;

    width: 100%;
    height: 100vh; /*100 процентов высоты пользователя*/
    background: url("../images/login.jpg") center no-repeat;
    background-size: cover;
    opacity: 0.35;
}

/*Nav*/
.nav {

}

.nav__link {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #302d34;

    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:hover {
    color: #800032;
}

/*Form*/

.form {
    color: #000;
    opacity: 1;

    position: relative;

    width: 100%;
    max-width: 550px;
    margin: 0 auto;

    /*из-за того, что opacity применяется не только к
    классу, но и к его потомкам, пришлось вынести картинку-фон в
    класс intro__img и поставить свойство position. В итоге осталось
    форму центрировать по вертикали, удалось с помощью 2 строк ниже,
    наверняка есть решение лучше*/
    top: 50%;
    transform: translate(0, 25%);

    height: 450px;
    background: #f3eef3;
    border-radius: 20px;
    padding: 30px;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    font-size: 16px;
    color: #800032;
    font-family: 'Yusei Magic', sans-serif;
}

.btn__login {
    background-color: #800032;
    color: #f3eef3;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #a00032;
    padding: 6px 12px 8px;
    margin-top: 8px;
    cursor: pointer;
}

.btn__login:hover {
    background-color: #f3e1e3;
    color: #800032;
    border: 1px solid #800032;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;

    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;

}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

